<ion-content>
  <div class="login">
    <div class="container-xy">
      <img src="https://user-images.githubusercontent.com/49223890/197375383-7c0466ca-a0a2-4bef-949a-2a3a57d26c5d.png" width="250" />
      <h3>Welcome to login</h3>
      <p>access feature use account you</p>
    </div>
    <div class="form">
      <div class="container-xy">
        <div class="input-group">
          <input type="text" placeholder="Input Email/Username" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Input Password" />
        </div>
        <div class="text-right">
          <p class="label-password">Reset Password ?</p>
        </div>
        <button class="btn-login" (click)="btnLogin()">sign in</button>
        
        <div class="third">
          <div class="line"></div>
          <p class="orwith"><span>Or With</span></p>

          <div class="sosmed">
            <div class="item">
              <img src="https://cdn.svgporn.com/logos/facebook.svg" width="30" height="30" />
            </div>
            <div class="item">
              <img src="https://cdn.svgporn.com/logos/twitter.svg" width="30" height="30" />
            </div>
            <div class="item">
              <img src="https://cdn.svgporn.com/logos/google-icon.svg" width="30" height="30" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
