<ion-content [fullscreen]="true">
  <div class="header">
    <h6>Live Streaming</h6>
  </div>
  <iframe class="video" src="https://www.youtube.com/embed/X9J5ObAI_oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="content">
    <div class="container">
      <h3>Ujian Akhir 2022</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>

      <div class="share">
        <h3>Share :</h3>
        <div class="sosmed">
          <div class="item">
            <img src="https://cdn.svgporn.com/logos/facebook.svg" width="30" height="30" />
          </div>
          <div class="item">
            <img src="https://cdn.svgporn.com/logos/twitter.svg" width="30" height="30" />
          </div>
          <div class="item">
            <img src="https://cdn.svgporn.com/logos/whatsapp-icon.svg" width="30" height="30" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
