<ion-content [fullscreen]="true">
  <div class="header">
    <h6>Information</h6>
  </div>

  <div class="container">
    <div class="timeline">
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="list-sharp"></ion-icon>
        </div>
        <center>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYxrbX6XI57PAGh_U1_-7dCKV18W2UJshfzg&usqp=CAU" />
        </center>
        <h3>Bayaran 2022</h3>
        <p>Siapa yang belum Bayaran, cungg tangannn, besok wajib bayaran ya gaesss</p>
      </div>
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="list-sharp"></ion-icon>
        </div>
        <h3>Info Sidang</h3>
        <p>yu sidang yu </p>
      </div>
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="list-sharp"></ion-icon>
        </div>
        <h3>Info Kartu Tanda Mahasiswa</h3>
        <p>untuk semester 4 diharap ke kantin </p>
      </div>
    </div>
  </div>
 
</ion-content>
